<div href="#/options">
  <h2 style="text-align:center; margin-top: 5%;">Tell us what you want!</h2>
  <div class="row">
    <div class="option-tab col-md-4" style="border: 1px solid gray;box-shadow: 0px 0px 50px #888, 0px 0px 0px #888; margin-left:15%;">
      <h3>Individual Package</h3>
      <h5>For those who drink alone</h5>
      <img src="img/solo-drinker.jpg" height="200px" width="300px">
        <table>
        <tr>
          <td class="rightAlign"><h5>Quantity(lbs):</h5></td>
          <td class="lefttAlign">14</td>
        </tr>
        <tr>
          <td class="rightAlign"><h5>Price per pound:</h5></td>
          <td class="lefttAlign"> $0.50</td>
        </tr>
        <tr>
          <td class="rightAlign"><h5>Total:</h5></td>
          <td class="lefttAlign" ng-model= "total">$7.00</td>
        </tr>
        <tr>
          <td class="rightAlign"><h5>Grind type:</h5></td>
          <td class="lefttAlign">
            <select ng-model= "grindIndividual">
              <option ng-repeat="option in options" value="{{option}}">
                {{option}}
              </option>
            </select>
          </td>
        </tr>
      </table>
      <button class="btn orderbtn" ng-click="goToDelivery(grindIndividual, 14, 7)"  type="submit">Order</button>

    </div>
    <div class="col-md-4 option-tab" style="border: 1px solid gray;box-shadow: 0px 0px 50px #888, 0px 0px 0px #888; margin-left:10%;">
      <h3>Family Package</h3>
      <h5>For those who drink together</h5>
      <img src="img/coffee-drinkers.jpg" height="200px" width="300px">
      <table>
      <tr>
        <td class="rightAlign"><h5>Quantity(lbs):</h5></td>
        <td class="lefttAlign"> 40</td>
      </tr>
      <tr>
        <td class="rightAlign"><h5>Price per pounds:</h5></td>
        <td class="lefttAlign"> $0.50</td>
      </tr>
      <tr>
        <td class="rightAlign"><h5>Total:</h5></td>
        <td class="lefttAlign" ng-model= "total">$18.00</td>
      </tr>
      <tr>
        <td class="rightAlign"><h5>Grind type:</h5></td>
        <td class="lefttAlign">
          <select ng-model= "grindFamily">
            <option ng-repeat="option in options" value="{{option}}">
              {{option}}
            </option>
          </select>
        </td>
      </tr>
      </table>
    <button class="btn orderbtn" ng-click="goToDelivery(grindFamily,40,18)" type="submit">Order</button>
      </div>
    </div>
  </div>
